@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Metal Mania', cursive;
    --font3: 'Alkatra', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 3em;
}

section {
    padding-top: 7vh;
    padding-bottom: 7vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 1.7em;
}

section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgb(44, 44, 44);
    color: white;
}
section.imagem > p {
    background-color: black;
    padding: 5px;
    display: inline-block;

}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
a {
    text-decoration: none;
    color: aqua;
}
a:hover {
    text-decoration: underline;
}